rSYBL-control-service-pom/rSYBL-cloud-application-dependency-graph/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="SYBLElasticityRequirementsDescription" type="syblElasticityRequirementsDescription"/>

  <xs:complexType name="syblElasticityRequirementsDescription">
    <xs:sequence>
      <xs:element name="SYBLSpecification" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Constraint" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ToEnforce">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="BinaryRestriction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="LeftHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="RightHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="UnaryRestrictionsConjunction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                    <xs:element name="ReferenceTo" minOccurs="0">
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute name="Name" type="xs:string"/>
                                            <xs:attribute name="Function" type="xs:string"/>
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Condition">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="BinaryRestriction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="LeftHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="RightHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="UnaryRestrictionsConjunction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                    <xs:element name="ReferenceTo" minOccurs="0">
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute name="Name" type="xs:string"/>
                                            <xs:attribute name="Function" type="xs:string"/>
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:string"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Strategy" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Condition">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="BinaryRestriction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="LeftHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="RightHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="UnaryRestrictionsConjunction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                    <xs:element name="ReferenceTo" minOccurs="0">
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute name="Name" type="xs:string"/>
                                            <xs:attribute name="Function" type="xs:string"/>
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="ToEnforce">
                    <xs:complexType>
                      <xs:sequence/>
                      <xs:attribute name="ActionName" type="xs:string" use="required"/>
                      <xs:attribute name="Parameter" type="xs:string"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:string"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Monitoring" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Condition">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="BinaryRestriction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="LeftHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="RightHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="UnaryRestrictionsConjunction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                    <xs:element name="ReferenceTo" minOccurs="0">
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute name="Name" type="xs:string"/>
                                            <xs:attribute name="Function" type="xs:string"/>
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Monitor">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Metric" type="xs:string"/>
                      </xs:sequence>
                      <xs:attribute name="EnvironmentVariable" type="xs:string"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:string"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Priority" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Assignment" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="LeftHandSide">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                              <xs:element name="Number" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="RightHandSide">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                              <xs:element name="Number" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="Type" type="xs:string"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Condition" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="BinaryRestriction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="LeftHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="RightHandSide">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                          <xs:element name="Number" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="BinaryRestrictionsConjunction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="UnaryRestrictionsConjunction" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                                    <xs:element name="ReferenceTo" minOccurs="0">
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute name="Name" type="xs:string"/>
                                            <xs:attribute name="Function" type="xs:string"/>
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="id" type="xs:string"/>
          <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

